<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Week1 - Module1 Solution</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    </head>
    <body ng-app="ngAppWeek1">
        <div class="container text-center">
          <p><a href="/coursera-test" class="pull-left">&lt; Back to All Solutions</a></p>
          <br><br>
            <h3><small>Week1 - Module1 Solution</small><br>Check If Too Much</h3>
          <br><br>

          <div ng-controller="MainCtrl" class="form-inline">

            <div class="form-group">
              <input class="form-control" type="text" ng-model="itemsInLunch">
              <button class="btn btn-primary" ng-click="checkHealth(itemsInLunch)">Check If Too Much</button>
            </div>

            <h1 ng-cloak>{{message}}</h1>

          </div>
        </div>
        <script src="../assets/angular/angular.js"></script>
        <script src="app.js"></script>
    </body>
</html>